<a href="https://colab.research.google.com/github/leopark4141/NLP_picturebook_2025/blob/main/3_indexing_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìå Indexing of Sequence Data

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|



# ‚úÇÔ∏è Slicing of List data

        üëª You have to deduct one (-1) from the second element (2Î≤àÏß∏ ÏöîÏÜåÎ•º |oo ÎØ∏Îßå|ÏúºÎ°ú Ìï¥ÏÑùÌïúÎã§.  

- [:] from the first element to the final element (e.g., 'I love Python!')

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|


- [1:5] from Index 1 to Index 4 (e.g., ' love') (5 ÎØ∏Îßå)


| str data |   | l | o | v |
|:---------|:--|:--|:--|:-:|
| Forward Indexing | 1 | 2 | 3 | 4 |


- [:5] from Index 0 to Index 4 (e.g., 'I love') (5 ÎØ∏Îßå)


| str data | I |   | l | o | v |
|:---------|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 |


- [5:] from Index 5 to the final element (e.g., 'e Python!')

| str data | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|

- [:-3] from forward Index 0 to Backward Index -4 (e.g., 'I love Pyth') (-3 ÎØ∏Îßå)

| str data | I |   | l | o | v | e |  | P | y | t | h |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|

- [-3:] from backward Index -3 to the final element (e.g., 'on!')

| str data | o |n | ! |
|:---------|:-|:-|:-:|
| Backward Indexing|-3| -2|-1|


- [::2] Every other element from the first element (e.g., 'Ilv yho')

| str data | I | l | v |  | y | h | n |
|:---------|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 2 | 4 | 6 | 8 | 10| 12|



# ‚öæ ‚öΩ üèÄ üéæ üéØ It is time to get some exercise!

In [ ]:
str = 'micky 17'

print(str [0])
print(str [1])
print(str  [2])
print(str [3])
print(str [4])
print(str [5])
print(str [6])
print(str [7])

m
i
c
k
y

1
7

In [ ]:
str='micky 17'
print(str[-1])
print(str[-2])
print(str[-3])
print(str[-4])
print(str[-5])
print(str[-6])
print(str[-7])
print(str[-8])

7
1

y
k
c
i
m

In [ ]:
strdata1 = 'I love'; strdata2='Python'
print (strdata1 + strdata2)
print(strdata1*5)

I lovePython
I loveI loveI loveI loveI love

###  üëÄ üêæ **Make a wild guess how to <font color = 'red'> add space</font> between 'love' and 'Python.'**

In [ ]:
#@markdown üíä **Possibility 1Ô∏è‚É£ üí°**

strdata1 = 'I love '; strdata2='Python'
print (strdata1 + strdata2)

I love Python

In [ ]:
#@markdown üíä **Possibility 2Ô∏è‚É£ üí°**

strdata1 = 'I love '; strdata2=' Python'
print (strdata1 + strdata2)

I love  Python

In [ ]:
#@markdown üíä **Possibility 3Ô∏è‚É£ üí°**

strdata1 = 'I love'; strdata0 = ' '; strdata2='Python'
print (strdata1 + strdata0 + strdata2)

I love Python

In [ ]:
subject = 'BTS'; verb= 'sings'; object = 'Butter'
sentence = subject + verb + object * 5
print(sentence)

BTSsingsButterButterButterButterButter

In [ ]:
#@markdown üíä Possibility 1Ô∏è‚É£ üí°

subject = 'BTS'; verb= 'sings'; object = 'Butter'; space = ' '
sentence = subject + space + verb + space + object * 5
print(sentence)

BTS sings ButterButterButterButterButter

In [ ]:
#@markdown ÏãúÌÄÄÏä§ ÏûêÎ£å ÌÅ¨Í∏∞ Ïù¥Ìï¥ÌïòÍ∏∞ (len)

str_data = 'abcdefghijklmnopqrstuvwxyz'
print(len(str_data))

26